/* Custom admonitions: definition, proposition, lemma, theorem, proof */

:root {
  --md-admonition-icon--definition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 4H3a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2M3 19V6h8v13H3m18 0h-8V6h8v13Z"/></svg>');
  --md-admonition-icon--proposition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 15V9h8V4.16L19.84 12 12 19.84V15H4Z"/></svg>');
  --md-admonition-icon--lemma: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2 22 12 12 22 2 12Z"/></svg>');
  --md-admonition-icon--theorem: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1 9 9 1 12l8 3 3 8 3-8 8-3-8-3Z"/></svg>');
  --md-admonition-icon--proof: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 3h14v18H5Z"/></svg>');
}

/* Definition - uses note color (#448aff) */
.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(68, 138, 255);
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(68, 138, 255, 0.1);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(68, 138, 255);
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}

/* Proposition - uses tip color (#00bfa5) */
.md-typeset .admonition.proposition,
.md-typeset details.proposition {
  border-color: rgb(0, 191, 165);
}
.md-typeset .proposition > .admonition-title,
.md-typeset .proposition > summary {
  background-color: rgba(0, 191, 165, 0.1);
}
.md-typeset .proposition > .admonition-title::before,
.md-typeset .proposition > summary::before {
  background-color: rgb(0, 191, 165);
  -webkit-mask-image: var(--md-admonition-icon--proposition);
          mask-image: var(--md-admonition-icon--proposition);
}

/* Lemma - uses success color (#00c853) */
.md-typeset .admonition.lemma,
.md-typeset details.lemma {
  border-color: rgb(0, 200, 83);
}
.md-typeset .lemma > .admonition-title,
.md-typeset .lemma > summary {
  background-color: rgba(0, 200, 83, 0.1);
}
.md-typeset .lemma > .admonition-title::before,
.md-typeset .lemma > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--lemma);
          mask-image: var(--md-admonition-icon--lemma);
}

/* Theorem - uses question color (#64dd17) */
.md-typeset .admonition.theorem,
.md-typeset details.theorem {
  border-color: rgb(100, 221, 23);
}
.md-typeset .theorem > .admonition-title,
.md-typeset .theorem > summary {
  background-color: rgba(100, 221, 23, 0.1);
}
.md-typeset .theorem > .admonition-title::before,
.md-typeset .theorem > summary::before {
  background-color: rgb(100, 221, 23);
  -webkit-mask-image: var(--md-admonition-icon--theorem);
          mask-image: var(--md-admonition-icon--theorem);
}

/* Proof - uses quote color (#9e9e9e) */
.md-typeset details.proof {
  border-color: rgb(158, 158, 158);
}
.md-typeset .proof > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .proof > summary::before {
  background-color: rgb(158, 158, 158);
  -webkit-mask-image: var(--md-admonition-icon--proof);
          mask-image: var(--md-admonition-icon--proof);
}
